* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: white;
    border: none;
}

.calculator {
    width: 304px;
    height: 539px;
    background-color: black;
}
.calculator__entry-field {
    width: 100%;
    height: 160px;
    background-color: transparent;
    padding: 76px 25px 0;
    line-height: 1;
    font-size: 84px;
    text-align: right;
}

.calculator__btns {
    height: 379px;
    padding: 11px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.calculator__button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 32px;
    margin-right: 11px;
    outline: none;
    cursor: pointer;
}

.m-l-0 {
    margin-right: 0;
}
.calculator__button-big {
    width: 132px;
    border-radius: 30px;
    text-align: left;
    padding-left: 22px;
}
.calculator__button-light-gray {
    background-color: #a8a8a8;
    color: black;
}
.calculator__button-light-gray:active {
    background-color: #cac8c8;
}
.calculator__button-dark-gray {
    background-color: #303030;
}
.calculator__button-dark-gray:active {
    background-color: #555454;
}
.calculator__button-orange {
    background-color: #ff9504;
}
.calculator__button-orange:active {
    background-color: #f6b354;
}
.calculator__button-orange:focus {
    color: #ff9504;
    background-color: #fff;
}
